<%#
  Copyright 2019 Jen Zajac (jenofdoom)
  Copyright 2020 Matthew B. Gray

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
%>
<div class="card shadow-sm h-100">
  <div class="card-header text-nowrap">
    <h4 class="my-0"><%= offer.name %></h4>
  </div>
  <div class="card-body">
    <% if offer.description.present? %>
      <small><%= offer.description %></small>
    <% end %>
    <h5 class="card-title"><%= offer.formatted_price %></h5>

    <% if offer.membership_rights.any? %>
      <p><%= t("rights.description") %></p>
      <ul class="list-group list-group-flush mt-3 mb-4">
        <% offer.membership_rights.each do |membership_right| %>
          <li class="list-group-item">
            <%= t(:description, scope: membership_right) %>
            <i class="far fa-question-circle"
              title="<%= t(:layman, scope: membership_right) %>"
              data-toggle="tooltip"
              aria-label="More information"
              height="15px"
              data-html="true"
              data-placement="right"
            ></i>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="card-footer">
    <%= yield %>
  </div>
</div>
