<%#
  Copyright 2020 Steven Ensslen

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
%>
<p>
  Kia ora
  <% if @reservations_that_can_vote.count == 1 %>
    <%= @reservations_that_can_vote.first.active_claim.contact %>
  <% else %>
    eligible Hugo voter
  <% end %>!
</p>

<p>
  This is just a quick reminder to let you know
  that the end of the Hugo voting period is fast approaching!
 The deadline for voting is
 <%= localize($hugo_closed_at.in_time_zone("Pacific Time (US & Canada)"), :format => :long) %> Pacific Daylight Time
  (<%= localize($hugo_closed_at.in_time_zone("Eastern Time (US & Canada)"), :format => :short) %> Eastern Daylight Time,
  <%= localize($hugo_closed_at.in_time_zone("Europe/Dublin"), :format => :short) %> Irish time,
  and <%= localize($hugo_closed_at.in_time_zone("Wellington"), :format => :short) %> New Zealand time).
</p>

<p>
  As a member of CoNZealand, you are eligible to vote in the 17 Hugo ballot
  categories covering the best of the genre in the last year, for the Lodestar
  Award for Best Young Adult Book, the Astounding Award for Best New Writer
  (formerly known as the John W. Campbell Award), and for the 1945 Retro Hugos,
  celebrating the genre work of 1944.
</p>

<p>
  To vote online, please visit <%= link_to($hostname, $hosturl) %>,
  enter the email address at which you received this email,
  and request a login link. After clicking the link
  and entering the members area, click on My Memberships to access all
  memberships linked with that email address. Then click the voting links on
  your membership.
</p>

<p>
  You can rank up to six works in each category. Be sure to hit the save
  button once you have cast your votes. You can make as many changes as you like
  to your ballots until the deadline. Your current ballot will be emailed to you
  an hour after you stop making changes to it.
</p>

<p>
  Please contact hugohelp@conzealand.nz if you have difficulties accessing the
  online ballot(s), or you have any other questions on the Hugo process.
</p>

<p>
  A printable version of the WSFS Constitution and Hugo ballot has
  been included in the mailed-out version of Progress Report 3. You may also
  download a printable ballot in

  <%=
    link_to(
      "A4",
      "https://conzealand.nz/wp-content/uploads/2020/06/2020-Hugo-Ballot-A4.pdf",
    )
  %>,

  or
  <%=
    link_to(
      "US letter",
      "https://conzealand.nz/wp-content/uploads/2020/06/2020-Hugo-Ballot-US-Letter.pdf",
    )
  %> sizes.
  The WSFS Constitution is also available online
  <a href="http://www.wsfs.org/wp-content/uploads/2019/11/WSFS-Constitution-as-of-August-19-2019.pdf">here</a>.
</p>

<p>
  We look forward to your participation in the 2020 Hugo Awards and 1945 Retro
  Hugos, and hope to see you at CoNZealand!
</p>

<p>
  Tammy Coxen, Nicholas Whyte and Ian Moore<br>
  Hugo Administrator and Deputy Hugo Administrators
</p>
